
.profile__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    float: left;
}


.header {
    padding: 10px;
    height: 100%;
    border-bottom: 1px solid #efefef;
    background-color: #D9D9D9;
}



.user__name {
    text-align: center;
    vertical-align: center;
    line-height: 40px;
    float: left;
    padding-left: 10px;
    /* font */
    font-weight: bold;
    font-size: 20px;
}

.mediaPhoto {
    width: 512px;
    height: 512px;

}


.post_container {
    width: 512px;
    height: 95%;
    overflow: hidden;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 5%;
    background-color: #D9D9D9 ;
}

/* Actions Bar */

.ActionBar {
    font-size: 24px;
    margin-top: 5px;
    stroke: black;
    stroke-width: 50;
    color: #D9D9D9;
    
}
.like {
    float: left;
    margin-right: 15px;
    overflow: hidden;
    
}
.comment {
    float: left;
    overflow: hidden;
}
.icn_btn_false{
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

.icn_btn_true {
    background-color: transparent;
    border-color: transparent;
    color: red;
}


/* container */

.lower_container {
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    overflow: hidden;
    background-color: #D9D9D9;
}

/* likes */

.likes {
    padding-left: 8px;
    font-size: 18px;
    font-weight: bold;
    clear: both;
    display: block;

}

/* caption */

.cap-username {
    padding-left: 8px;
    float: left;
    font-weight: bold;
    font-size: 18px;
    padding-top: 5px;
    padding-right: 4px;
    
}

.cap-text {
    float: left;
    padding-top: 5px;
    font-size: 18px;
}

.posted {
    clear: both;
    display: block;
    padding-left: 8px;
    padding-top: 5px;
    font-size: 14px;
    color: grey;
    font-weight: 200;
    margin-bottom: 8px;
    
  
}

.submit__comment {
    margin: 8px;
    border: 1px solid #efefef;
    color: #999;
    font-size: 18px;
    line-height: 18px;
    /* min-height: 56px; */
    height: 100%;
    
}

.comment-textarea {
    position: relative;
    width: 100%;
    background: 0 0;
    border: 0;
    color: #262626;
    font-size: inherit;
    /* height: 18px; */
    outline: 0;
    padding-top: 20px;
    resize: none;
    height: 100%;
    
}

